* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	font: normal 1.2em Arial;
	background: #a5cf98;
}

header, main, input, button, div {
	margin: 1em 0;
	padding: 0.5em;
}